* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: rgb(78, 24, 78);
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* text-align: left; */
  /* justify-content: flex-start; */
  /* float: left; */
  /* align-items: flex-start; */
  width: 100%;
  height: 21vh;
  /* margin: auto; */
  /* align-items: center; */
}

.logo-container {
  margin: 30px 0px 10px 55px;
  /* background: lightpink; */
  display: flex;
  height: 2.2vh;
}

.logo-img {
  /* background: lightgreen; */
  margin: 0px 5px 5px 0px; 
  height: 100%;
  /* filter: white; */
  /* color: white; */
}

.logo-container h4{
/* background: lightblue; */
/* margin: 55px 0px 10px 3px; */
  color: white;

}

.main-text {
  /* background: lightblue; */
  margin: 0px 0px 5px 55px;
  color: white;

} 

.main-text h1{
  /* background: red; */
  margin: 0px 0px 5px 0px;
  font-weight: 900;
  font-size: 50px;


}
.main-text p{
  /* background: green; */
  /* margin: 0px 0px 10px 0px; */
  font-size: 15px;
}

nav{

  display: flex;
  margin: 12px 0px 5px 55px;
}

.nav-links{
  /* background: green; */
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex:1
 } 

 .nav-link{
  color: white;
  font-size: 18px;
 text-decoration: none;

 }

 

 button.tablinks{
  background-color: rgb(78, 24, 78);
  /* background-color: white; */
  border: none;
  height: 40px;
  padding: 10px 15px 10px 15px;
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px 3px 0px 0px;
  }
  
  button.tablinks:hover {
  cursor: pointer;
  background-color:rgba(127, 91, 127, .3);
  }
  
  /* button.tablinks {
  background-color: #F9A300;
  border: none;
  height: 40px;
  padding: 5px 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-right: 10px;
  }
   */
  button.launch:hover {
  cursor: pointer;
  background-color: #FABD44;
  }
  
  button.change {
  background-color: #F88F00;
  border: none;
  height: 40px;
  padding: 5px 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-right: 10px;
  }
  
  button.change:hover {
  cursor: pointer;
  background-color: #F89900;
  }
  
  button:active {
  outline: none;
  border: none;
  }
  
  button:focus {outline:0;}





 .about{
  /* background: lightpink; */
  flex: 2;
  justify-content: flex-end;
  text-align: end;
  margin: 0px 70px 0px 0px;
 }

 #about{
  background-color: rgba(127, 91, 127, .3);
  flex: 2;
  justify-content: flex-end;
  text-align: end;

  border: none;
  height: 40px;
  padding: 5px;
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  
 }
